In [25]:
# Count the number of missing values for each column 
inputdf.isnull().sum()
# One - way frequency
inputdf['Yas'].value_counts()
inputdf['Yas'].describe()
inputdf=inputdf[inputdf['Yas']>17]

In [52]:
import pandas as pd
inputdf=pd.read_csv("C:\Files\Electricity_Fraud.csv")
pd.set_option("display.max_columns",None)
inputdf.isnull().sum()

Abone_No                  0
Kacak_Flag                0
Tarif                     0
TCKN NO                   0
Cinsiyet                  0
Yas                     177
Aile_Risk_Factor          0
Parch                     0
Sayac_Tip                 0
Toplam_Fatura_Tutari      0
dtype: int64

In [53]:
inputdf
inputdf.groupby(inputdf['Yas']).mean().Kacak_Flag
inputdf['Yas'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Yas, dtype: float64

In [54]:
# Yası <18 olanlar ve missing olanlar var. Bunların alalım ve ek bir datada birlestirip , kacak oranı nedir? 
inputdfk18=inputdf[inputdf['Yas']<18]
inputdfnull=inputdf[inputdf['Yas'].isnull()]
df3 = inputdfk18.append(inputdfnull, ignore_index=True)
#print(df3.mean().Kacak_Flag)
inputdfb18=inputdf[inputdf['Yas']>17]
print(inputdfb18.mean().Kacak_Flag)
print(inputdfk18.mean().Kacak_Flag)
print(inputdfnull.mean().Kacak_Flag)
inputdfb18['YAS_Kategori']="B18"
inputdfk18['YAS_Kategori']="K18"
inputdfnull['YAS_Kategori']="Null"
inputdf2 = inputdfk18.append(inputdfb18, ignore_index=True)
inputdf2 = inputdfnull.append(inputdf2, ignore_index=True)
inputdf2
# Impute missing age values
#inputdf2.describe()
# Median imputation #
#inputdf2=inputdf2['YAS_Kategori'].fillna("N18")

0.3810316139767055
0.5398230088495575
0.2937853107344633

<ipython-input-54-7905cc5b9889>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputdfb18['YAS_Kategori']="B18"
<ipython-input-54-7905cc5b9889>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputdfk18['YAS_Kategori']="K18"
<ipython-input-54-7905cc5b9889>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputdfnull['YAS_Kategori']="Null"

,Abone_No,Kacak_Flag,Tarif,TCKN NO,Cinsiyet,Yas,Aile_Risk_Factor,Parch,Sayac_Tip,Toplam_Fatura_Tutari,YAS_Kategori
0,6,0,3,43429933850,male,NaN,0,0,330877,8.4583,Null
1,18,1,2,34411049154,male,NaN,0,0,244373,13.0000,Null
2,20,1,3,45767190761,female,NaN,0,0,2649,7.2250,Null
3,27,0,3,38468551804,male,NaN,0,0,2631,7.2250,Null
4,29,1,3,28891048349,female,NaN,0,0,330959,7.8792,Null
...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,3,34102991205,female,39.0,0,5,382652,29.1250,B18
887,887,0,2,27033784027,male,27.0,0,0,211536,13.0000,B18
888,888,1,1,31061515591,female,19.0,0,0,112053,30.0000,B18
889,890,1,1,32974535532,male,26.0,0,0,111369,30.0000,B18
890,891,0,3,44901529123,male,32.0,0,0,370376,7.7500,B18

In [55]:
# Drop Yas
inputdf2=inputdf2.drop(['Yas'], axis=1)

In [76]:
# Select Variables
X=inputdf2[['Tarif','Cinsiyet','Aile_Risk_Factor','Toplam_Fatura_Tutari', 'YAS_Kategori']]
Target=inputdf2['Kacak_Flag']

In [66]:
# One -way Frequency
X['Tarif'].value_counts(dropna=False)
X['Cinsiyet'].value_counts(dropna=False)
X['YAS_Kategori'].value_counts(dropna=False)
X['Aile_Risk_Factor'].value_counts(dropna=False)
# Descriptive Stats
inputdf2['Toplam_Fatura_Tutari'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Toplam_Fatura_Tutari, dtype: float64

In [77]:
X['Tarif'].replace({1:"Mesken",2:"Ticrt",3: "TarımsalS"}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [80]:
X=pd.get_dummies(X)

In [81]:
X

,Aile_Risk_Factor,Toplam_Fatura_Tutari,Tarif_Mesken,Tarif_TarımsalS,Tarif_Ticrt,Cinsiyet_female,Cinsiyet_male,YAS_Kategori_B18,YAS_Kategori_K18,YAS_Kategori_Null
0,0,8.4583,0,1,0,0,1,0,0,1
1,0,13.0000,0,0,1,0,1,0,0,1
2,0,7.2250,0,1,0,1,0,0,0,1
3,0,7.2250,0,1,0,0,1,0,0,1
4,0,7.8792,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
886,0,29.1250,0,1,0,1,0,1,0,0
887,0,13.0000,0,0,1,0,1,1,0,0
888,0,30.0000,1,0,0,1,0,1,0,0
889,0,30.0000,1,0,0,0,1,1,0,0
890,0,7.7500,0,1,0,0,1,1,0,0