In [2]:
import pandas as pd 
df=pd.read_csv("C:\Files\dungaree.csv")

In [3]:
df

     STOREID  FASHION  LEISURE  STRETCH  ORIGINAL  SALESTOT
0          1      182     1528      496      2203      4409
1          2      129     2247      296      1890      4562
2          3      107     1652      267      2342      4368
3          4      117     1744      419      2119      4399
4          5      110     1736      755      1781      4382
..       ...      ...      ...      ...       ...       ...
684      685       62     1526      871      1956      4415
685      686       57     1564        8      1769      3398
686      687      104     1963      274      2053      4394
687      688       51     2057      393      1901      4402
688      689       97     2054      501      1826      4478

[689 rows x 6 columns]

In [6]:
df.drop(["STOREID","SALESTOT"],axis=1,inplace=True)

In [7]:
df

     FASHION  LEISURE  STRETCH  ORIGINAL
0        182     1528      496      2203
1        129     2247      296      1890
2        107     1652      267      2342
3        117     1744      419      2119
4        110     1736      755      1781
..       ...      ...      ...       ...
684       62     1526      871      1956
685       57     1564        8      1769
686      104     1963      274      2053
687       51     2057      393      1901
688       97     2054      501      1826

[689 rows x 4 columns]

In [9]:
# RANGE 
# sTAT Std

# Xstd= (X-Xmin) / (Xmax-Xmin)
# Xstd=  (X-Xmean) / Xstd# Z-Score using pandas
# df['col1'] = (df['col1'] - df['col1'].mean()) / df['col1'].std()

from sklearn import preprocessing

stddf=preprocessing.scale(df)

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.0)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [10]:
stddf

array([[ 2.75330253, -1.10791719,  0.24562839,  1.21352058],
       [ 1.12716676,  0.94293908, -0.69983508,  0.13938196],
       [ 0.45216701, -0.75422293, -0.83692728,  1.69053422],
       ...,
       [ 0.36012159,  0.13286511, -0.80383606,  0.69875766],
       [-1.26601418,  0.40098819, -0.2412853 ,  0.17713124],
       [ 0.14534894,  0.39243107,  0.26926498, -0.08025022]])

In [11]:
type(stddf)

numpy.ndarray

In [14]:
df2=pd.DataFrame(stddf, columns=['FASHION','LEISURE','STRETCH','ORIGINAL'])

In [20]:
from sklearn.cluster import KMeans
engine=KMeans(n_clusters=6)
Cluster_Labels=engine.fit(df2)

KMeans(n_clusters=6)

In [21]:
engine.predict(df2)

array([4, 4, 0, 0, 3, 3, 1, 1, 0, 0, 2, 0, 4, 5, 1, 2, 4, 0, 3, 4, 1, 1,
       1, 4, 3, 3, 1, 3, 0, 0, 1, 0, 0, 0, 1, 1, 3, 2, 0, 4, 3, 3, 4, 3,
       1, 3, 2, 4, 0, 1, 1, 3, 0, 4, 4, 4, 0, 4, 3, 3, 1, 5, 3, 1, 0, 4,
       3, 3, 0, 5, 3, 1, 1, 1, 2, 1, 4, 3, 3, 1, 3, 1, 4, 0, 1, 0, 1, 1,
       2, 1, 3, 1, 5, 1, 2, 1, 4, 3, 0, 4, 4, 2, 3, 0, 3, 1, 4, 2, 3, 0,
       1, 0, 3, 0, 2, 1, 1, 1, 2, 4, 2, 2, 3, 4, 3, 2, 0, 1, 1, 1, 1, 4,
       0, 0, 0, 0, 3, 3, 0, 1, 1, 0, 4, 0, 3, 3, 0, 0, 0, 4, 1, 2, 0, 1,
       4, 3, 0, 0, 4, 2, 1, 0, 1, 1, 4, 1, 1, 4, 0, 0, 1, 3, 3, 1, 0, 5,
       0, 0, 0, 4, 0, 0, 1, 1, 3, 3, 4, 2, 1, 0, 4, 4, 0, 3, 0, 0, 3, 2,
       0, 4, 1, 3, 4, 4, 1, 3, 1, 4, 0, 1, 1, 1, 4, 1, 3, 2, 0, 1, 0, 3,
       0, 4, 1, 0, 1, 2, 4, 3, 3, 1, 1, 4, 1, 4, 0, 3, 4, 0, 3, 4, 1, 1,
       2, 1, 3, 0, 3, 0, 1, 4, 3, 2, 0, 1, 1, 2, 4, 0, 0, 1, 1, 1, 3, 0,
       1, 0, 2, 0, 1, 1, 4, 3, 4, 0, 2, 3, 0, 3, 2, 4, 1, 1, 1, 1, 0, 4,
       4, 2, 4, 5, 0, 1, 0, 0, 4, 0, 0, 2, 0, 2, 3, 0, 1, 1, 1, 3, 0, 4,
       1, 0, 4, 1, 1, 1, 1, 4, 3, 1, 0, 1, 0, 5, 1, 0, 0, 4, 1, 3, 0, 3,
       4, 4, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 3, 0, 1, 0, 3, 1, 1, 0, 0,
       4, 1, 1, 3, 3, 2, 0, 1, 4, 0, 1, 1, 4, 3, 0, 4, 0, 1, 0, 4, 1, 4,
       2, 1, 0, 3, 3, 0, 4, 1, 4, 1, 4, 0, 2, 0, 1, 3, 3, 3, 0, 5, 1, 0,
       1, 4, 3, 0, 3, 3, 0, 4, 3, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 5, 4, 0, 3, 1, 3, 0, 4, 3, 1, 0, 4, 0, 1, 4, 1, 3, 1, 1, 2, 3,
       0, 2, 1, 0, 2, 1, 4, 0, 1, 5, 1, 0, 0, 1, 3, 1, 1, 1, 1, 0, 3, 1,
       1, 1, 4, 4, 0, 2, 1, 3, 4, 3, 1, 4, 1, 4, 4, 0, 3, 4, 1, 1, 0, 0,
       3, 2, 4, 4, 0, 3, 4, 3, 4, 1, 4, 4, 3, 0, 1, 4, 3, 0, 1, 4, 0, 4,
       3, 3, 3, 1, 1, 1, 4, 4, 2, 1, 3, 2, 1, 3, 1, 0, 1, 0, 2, 3, 4, 0,
       0, 0, 0, 3, 1, 3, 3, 4, 1, 3, 0, 3, 4, 1, 0, 3, 4, 0, 3, 0, 1, 1,
       0, 4, 1, 1, 1, 4, 3, 1, 1, 4, 0, 0, 4, 3, 1, 4, 4, 0, 1, 4, 0, 0,
       1, 3, 1, 1, 2, 0, 0, 1, 0, 1, 4, 0, 3, 4, 3, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 4, 0, 1, 3, 4, 4, 4, 4, 4, 4, 4, 2, 3, 0, 1, 3, 0,
       2, 1, 1, 1, 0, 3, 1, 0, 0, 4, 0, 0, 0, 1, 1, 4, 3, 2, 3, 1, 1, 0,
       4, 4, 0, 1, 1, 1, 0, 0, 2, 3, 4, 4, 1, 1, 4, 4, 3, 1, 3, 1, 0, 0,
       0, 4, 1, 4, 4, 1, 3, 0, 3, 3, 0, 4, 4, 0, 0, 3, 1, 0, 4, 4, 3, 4,
       1, 4, 3, 2, 0, 0, 1])