In [ ]:
print("Hello World")

NUMERIC VARIABLES

In [ ]:
#Numeric Variables
Var1=20
Var2=5.7
Var3=4j+7
type(Var1)
type(Var2)
type(Var3)
Var3*Var3


x = 5
print (x)
print (float (x))
y=float(x)
type(y)

In [ ]:
Var1+Var2
Var1/Var2
Var1//Var2
Var1**Var2

In [ ]:
i?=10

In [17]:
#Assign a Variable
i=10
i=i+5
i+=5
i

20

STRING VARIABLES

In [18]:
# Stringler tek tırmak ile oluşturulabilir
'Ali'

'Ali'

In [21]:
"Tansu'ya gidelim "

"Tansu'ya gidelim "

In [23]:
Mystring="Tansu"

In [26]:
Mystring[0]
Mystring[1]
Mystring[2]
Mystring[-1]
Mystring[-2]

's'

In [29]:
a = "Machine Learning Algorithms with Python"
 
# 4. indeksten başla 10.indekse kadar(dahil değil) al.
print(a[4:10])
 
# Başlangıç değeri belirtilmemişse en baştan başlayarak alır.
print(a[:10])
 
# Bitiş değeri belirtilmemişse en sonuna kadar alır.
print(a[4:])
 
# İki değer de belirtilmemişse tüm stringi al.
print(a[:])
 
#Son karaktere kadar al.
print(a[:-1])
 
# Baştan sona 2 değer atlaya atlaya stringi al.
print(a[::2])
 
# 4.indeksten 12'nci indekse 3'er atlayarak stringi al.
print(a[4:12:3])
 
# Baştan sona -1 atlayarak stringi al. (String'i ters çevirme)
print(a[::-1])

print(a[::-2])

ine Le
Machine Le
ine Learning Algorithms with Python
Machine Learning Algorithms with Python
Machine Learning Algorithms with Pytho
McieLann loihswt yhn
i a
nohtyP htiw smhtiroglA gninraeL enihcaM
nhy twshiol nnaLeicM

In [30]:
len(a)

39

In [34]:
a+a
a*2
a/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
#.upper()
x=' python '
x.upper()

In [ ]:
#.strip()
x='   python    '
x.strip()

In [ ]:
#.startswith()
x='Trafalgar'
A=x.startswith('T')
A

In [ ]:
#.find()
d='AvivaSA'
d.find('A')
d.count('a')

In [ ]:
#replace('x','y') replace x with y
Degisken='ABCDE'
Degisken.replace('A','X')

In [ ]:
import sys
sys.platform
sys.version

In [ ]:
import math
math.pi

In [ ]:
math.e

In [ ]:
###### LISTS ############################

In [ ]:
#Generate a List 
Ornek_List=[1,2,3,3,5]
Ornek_List

In [ ]:
#Alist can also have another list as an item. This is called nested list
a_list = [1, 2, 3, ['hello', 'stock'], 4.5]
a_list

In [ ]:
stock_list=['HP', 'GOOG', 'MSFT', 'AMZN']
stock_list
stock_list[1]
stock_list[0]='GOOG'
stock_list.insert(0,'GOOG')
stock_list.remove('GOOG')
stock_list

In [ ]:
stock_list.count('GOOG')
stock_list.sort()
stock_list

In [ ]:
###### DICTIONARIES ############################

In [ ]:
sozluk = {"brand": "Ford", "model": "Mustang", "year": 1964 }
print(sozluk)
sozluk["brand"]

In [ ]:
 sozluk.values()

In [ ]:
len(sozluk)

In [ ]:
sozluk["City"]="Istanbul"
sozluk
#get the model information from dictionary
sozluk["model"]

In [ ]:
del sozluk["City"]
sozluk

In [ ]:
#Keywords and Operators

In [ ]:
5>3 and 3>2

In [ ]:
3**2

In [ ]:
16%6